<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->

        {% url 'chat' as url %}
        <li class="nav-item">
            <a href="{{ url }}" class="nav-link {% if request.path == url %}active{% endif %}">
                <i class="nav-icon fas fa-comment-alt"></i>
                <p>
                    Chat
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>

        {% url 'encryption' as url %}
        <li class="nav-item">
            <a href="{{ url }}" class="nav-link {% if request.path == url %}active{% endif %}">
                <i class="nav-icon fab fa-slack-hash"></i>
                <p>
                    Encryption
                </p>
            </a>
        </li>


    </ul>
</nav>
<!-- /.sidebar-menu -->