<div id="msg-input" class="card-footer">

    <div class="input-group">
        <div class="input-group-prepend">
            <button id="btnAttach" type="button" class="btn btn-light" style="background-color: #D2D6DE !important;">
                <i class="far fa-image"></i>
            </button>
            {% comment %} <div class="emoji">
                <button type="button" class="btn btn-light emoji-btn"
                    style="background-color: #D2D6DE !important; width: 40px; height: 40px;">
                    <i class="far fa-smile"></i>
                </button>
            </div> {% endcomment %}
        </div>
        <input id="chat-message-input" type="text" name="message" placeholder="Type Message ..."
            class="form-control chat_message_input">
        <span class="input-group-append">
            <button id="chat-message-submit" type="submit" class="btn btn-success">
                <i class="far fa-paper-plane mr-1"></i> Send
            </button>
        </span>
    </div>

</div>